* {
    margin: 0;
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

#main {

    background-color: #ececec;
}

#container {
    width: 100%;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
    align-content: center;
}


.box {
    width: 95%;
    margin: 1% 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    animation-name: apear;    
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.box:hover, #close:hover {
    cursor: pointer;
}

@keyframes apear {
    from {opacity: 0;}
    to {opacity: 1;}
}

.thumb {
    width: 30%;
    background:linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)),
    url('../img/pokeball_gray.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 80px;
    z-index: 99999;
}

.thumb > img {
    width: 100%;
    padding: 6px 9px;
    transition: all ease .3s;
    
}

.box:hover > .thumb > img {
    transform: scale(1.5);
}

.box:hover > .name {
    width:100%;
}

.name {
    width: 80%;
    background-color: #fff;
    padding: 8px 20px 8px 50px;
    border-radius: 50px;
    margin-left:-50px;
    text-align: center;
    transition: all ease .3s;
}


h3 {
    text-transform: capitalize;
    font-size: 20px;
}



@media only screen and (min-width:600px) {
    #container {
        flex-direction: row;
    }

    .box {
        width: 40%;        
                
    }
}

@media only screen and (min-width:900px) {
    #container {
        flex-direction: row;
    }

    .box {
        width: 20%;        
                
    }
}




